@page "/person"

<PageTitle>Person Table</PageTitle>

@using Blazor.Data
@using Data.Models
@inject IPersonServiceUI PersonServiceUI

<h1>Person Table</h1>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if(persons.Count() == 0)
    {
        <p><em>No persons found</em></p>
    }
    else{
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.firstName</td>
                    <td>@person.lastName</td>
                    <td>@person.birthplace</td>
                    <td>@person.birthdate</td>
                    <td>@person.Sex</td>
                    <td>@person.IsRuler</td>
                    @if(person.Occupation != null)
                    {
                        <td>@person.Occupation</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    }

}

@code {
    private IEnumerable<Person>? persons;

    protected override async Task OnInitializedAsync()
    {
        persons = await PersonServiceUI.GetAsync();
    }
}
